.card {
  border-radius: 5px;
  width: 300px;
  height: 90px;
  position: relative;
  background-image: url("../../../assets/Ephoto360.com_1619630c3f0b81.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: calc(50% + 5px);
  display: flex;
  align-content: center;
  justify-content: center;

  &:not(.active) {
    filter: brightness(0.3);
  }

  .remove {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.2em;
    padding: 3px 15px;
    border: none;
    border-radius: 5px 0 0 0;
    background-color: rgba(225, 1, 0, 0.6);
    color: white;
    cursor: pointer;
  }

  .title {
    cursor: pointer;
    width: 110px;
    color: white;
    //font-weight: bold;
    text-align: center;
    align-self: center;
    line-height: 15px;
  }
}
